# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
logs/
*.log
debug.log

# Build output
dist/
build/

# Environment variables
.env

# MacOS
.DS_Store

# Vercel/Render Deploy
.vercel/
.render/

# Misc
coverage/
